# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_data=pd.read_csv('output_data/weather_data.csv')
vacation_data.head()

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Jamestown,42.10,-79.24,77.00,50,1,10.29,US,1597450438
1,1,Mataura,-46.19,168.86,48.00,80,8,4.00,NZ,1597450438
2,2,Butaritari,3.07,172.79,82.09,80,72,12.59,KI,1597450438
3,3,New Norfolk,-42.78,147.06,52.00,93,86,1.14,AU,1597450439
4,4,Qiongshan,20.01,110.35,77.00,100,0,2.24,CN,1597450439

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations=vacation_data[['lat','lng']]
humid=vacation_data['humidity']

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#multiple conditions for dataframe
#df2 = df.loc[((df['a'] > 1) & (df['b'] > 0)) | ((df['a'] < 1) & (df['c'] == 100))]

#df.loc[df["Amount"]>9000,["First Name","Last Name"]]
narrow_cities=vacation_data.loc[(vacation_data['max_temp']>65) & (vacation_data['max_temp']<80) &
              (vacation_data['cloudiness'] == 0)&(vacation_data['wind_speed']<10)]
narrow_cities.dropna()
narrow_cities

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
4,4,Qiongshan,20.01,110.35,77.00,100,0,2.24,CN,1597450439
59,59,Monroe,43.15,-77.68,78.01,58,0,1.99,US,1597450251
130,130,Airai,-8.93,125.41,67.75,50,0,3.74,TL,1597450465
159,159,Zhanakorgan,43.91,67.25,72.30,27,0,6.33,KZ,1597450470
163,163,Tobermory,45.25,-81.67,75.00,64,0,9.71,CA,1597450471
177,177,Akdepe,42.06,59.38,69.80,46,0,4.70,TM,1597450474
253,253,Baruun-Urt,46.68,113.28,65.59,63,0,3.85,MN,1597450489
277,277,Damietta,31.42,31.81,77.00,88,0,9.17,EG,1597450494
302,302,Loralai,30.37,68.60,79.16,62,0,4.25,PK,1597450499
304,304,Cepu,-7.15,111.59,78.10,80,0,4.32,ID,1597450500
342,342,Sirte,31.21,16.59,77.74,78,0,5.32,LY,1597450508
423,423,Gazli,40.13,63.45,76.59,19,0,8.79,UZ,1597450526
516,516,Hearst,49.68,-83.67,78.12,51,0,5.41,CA,1597450545
530,530,Caravelas,-17.71,-39.25,71.19,85,0,6.20,BR,1597450549
540,540,Kiryat Gat,31.61,34.76,78.01,82,0,3.94,IL,1597450551

#Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# The following will select all rows for columns `first_name` and `Phone Number`
#df.loc[:, ["first_name", "Phone Number"]].head()

hotel_df=narrow_cities.loc[:,['city','country','lat','lng']]

# Add column for hotel name on the DataFrame
# Note that we used "" to specify initial entry.
hotel_df["hotel name"] = ""

hotel_df

            city country    lat     lng hotel name
4      Qiongshan      CN  20.01  110.35
59        Monroe      US  43.15  -77.68
130        Airai      TL  -8.93  125.41
159  Zhanakorgan      KZ  43.91   67.25
163    Tobermory      CA  45.25  -81.67
177       Akdepe      TM  42.06   59.38
253   Baruun-Urt      MN  46.68  113.28
277     Damietta      EG  31.42   31.81
302      Loralai      PK  30.37   68.60
304         Cepu      ID  -7.15  111.59
342        Sirte      LY  31.21   16.59
423        Gazli      UZ  40.13   63.45
516       Hearst      CA  49.68  -83.67
530    Caravelas      BR -17.71  -39.25
540   Kiryat Gat      IL  31.61   34.76

In [7]:
#test cell

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get hotel from df
   # restr_type = row['ethnicity']
   
    City = row['city']
    lat = row['lat']
    lng = row['lng']
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params = {
    "location": f"{lat},{lng}",
    "type": "hotel",
    "radius":5000,
    "key": g_key,}

    
   # assemble url and make API request
   # print(f"Retrieving Results for Index {index}: {restr_type}.")
    print(f"Retrieving Results for Index {index}: {City}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        #print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        print(f"Closest hotel in {City} is {results[0]['name']}.") 
        hotel_df.loc[index, 'hotel name'] = results[0]['name']
        #types_df.loc[index, 'address'] = results[0]['vicinity']
        #types_df.loc[index, 'price_level'] = results[0]['price_level']
        #types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 4: Qiongshan.
Closest hotel in Qiongshan is Haikou.
------------
Retrieving Results for Index 59: Monroe.
Closest hotel in Monroe is Rochester.
------------
Retrieving Results for Index 130: Airai.
Closest hotel in Airai is Atsabe.
------------
Retrieving Results for Index 159: Zhanakorgan.
Closest hotel in Zhanakorgan is Zhanakorgan.
------------
Retrieving Results for Index 163: Tobermory.
Closest hotel in Tobermory is Tobermory.
------------
Retrieving Results for Index 177: Akdepe.
Closest hotel in Akdepe is Akdepe.
------------
Retrieving Results for Index 253: Baruun-Urt.
Closest hotel in Baruun-Urt is Baruun-Urt.
------------
Retrieving Results for Index 277: Damietta.
Closest hotel in Damietta is Damietta.
------------
Retrieving Results for Index 302: Loralai.
Closest hotel in Loralai is Loralai.
------------
Retrieving Results for Index 304: Cepu.
Closest hotel in Cepu is Tjepu.
------------
Retrieving Results for Index 342: Sirte.
Closest hotel in Sirte is Sirte.
------------
Retrieving Results for Index 423: Gazli.
Closest hotel in Gazli is Gazli.
------------
Retrieving Results for Index 516: Hearst.
Closest hotel in Hearst is Hearst.
------------
Retrieving Results for Index 530: Caravelas.
Closest hotel in Caravelas is Caravelas.
------------
Retrieving Results for Index 540: Kiryat Gat.
Closest hotel in Kiryat Gat is Kiryat Gat.
------------

In [11]:
#show result on dataframe
hotel_df

                        city country    lat     lng               hotel name
5                      Mahon      ES  39.89    4.27                    Mahón
11                     Lagoa      PT  39.05  -27.98   Santa Cruz Da Graciosa
188             Marsá Maţrūḩ      EG  31.35   27.25             Marsa Matruh
189                     Zeya      RU  53.75  127.27                     Zeya
201               Zhangaözen      KZ  43.30   52.80                Zhanaozen
218                Morondava      MG -20.28   44.28                Morondava
228            Divnomorskoye      RU  44.50   38.14            Divnomorskoye
260       Çanakkale Province      TR  40.08   26.83                 Kumarlar
264                Piaçabuçu      BR -10.41  -36.43                Piaçabuçu
282                 Akropong      GH   5.97   -0.09                 Akropong
302                  Le Port      RE -20.94   55.29                  Le Port
331              Mozarlândia      BR -14.74  -50.57              Mozarlândia
341                Salamiyah      SY  35.01   37.05                Salamiyah
369                Mount Isa      AU -20.73  139.50                Mount Isa
383                  Angoche      MZ -16.23   39.91           Angoche Island
397                 Shahreza      IR  32.03   51.88                 Shahreza
408  Saint-Michel-des-Saints      CA  46.68  -73.92  Saint-Michel-des-Saints
478                Loandjili      CG  -4.76   11.86             Pointe-Noire
554                Takoradze      GH   4.88   -1.76                 Takoradi

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))